<%- if topic.nil? -%>
  <p>No topic was set.</p>

<%- else -%>
  <h2>
    Question: <%= topic['question'] %>
  </h2>
  <div class="row">
    <%- [
      %w[yes green],
      %w[no red],
    ].each { |opt, color| -%>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <form action="/vote/<%= opt %>" method="post">
          <button class="btn btn-default" style="width: 100%; padding: 50px;">
            <span style="color: <%= color %>; font-weight: bold; font-size: 48px"><%= opt.capitalize %></span>
            <br />
            <%= topic["#{opt}_count"] %> Votes
          </button>
        </form>
      </div>
    <%- } -%>
  </div>
<%- end -%>

<a href="/topic">Setup Topic</a>
