<html>
  <head>
    <title>MongoApp Demo</title>
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <h1>Survey App Demo</h1>
      <p>Develop on Ruby, Sinatra, MongoDB, Docker. Provision with Docker and Ansible. <%= ENV['REMARK'] %></p>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
