<h2>Change Topic</h2>
<br />

<form action="/topic" method="post" accept-charset="utf-8"
  class="form-horizontal"
  enctype="multipart/form-data"
  >

  <label>New Topic</label>
  <input type="text" class="form-control"
    placeholder="Is the weather good today?"
    name="topic[question]">

  <br /> <br />
  <a href="/" class="btn btn-default">Cancel</a>
  <button class="btn btn-primary">Change</button>
</form>
