global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  # daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend localnodes
  bind *:80
  mode http
  default_backend nodes

  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /haproxy_stats

backend nodes
  mode http
  balance roundrobin
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  {% for host in groups['app'] %}
server {{ host }} {{ hostvars[host]['ansible_host'] }}:3000 check maxconn 256 weight 20
  {% endfor %}

